 body.light {
  --color-bg: var(--color-white);
  --color-text: var(--primary-color);
  }

  body.dark {
  --color-bg: var(--primary-color);
  --color-text: var(--color-white);
  }

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  letter-spacing: 1.2;
}