:root {
    // main pallet
    --accent-color: #4dc274;
    --primary-color: #121417;
    --accent-color-dark: #238644;
    --color-light-green: #d4fde1;
    --color-green-pseudo: #bee8cc;
    --color-grey: #f3f5f6;
    --color-white: #ffffff;
}