:root {
    // main pallet
    --accent-color: #3ab763;
    --primary-color: #373d40;
    --accent-color-dark: #719192;
    --color-light-green: #d4fde1;
    --color-green-pseudo: #bee8cc;
    --color-grey: #f3f5f6;
    --color-white:  #e0dedc;
}