<div class="backdrop is-hidden">
    <div class="modal">
        <div class="swiper gallery__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img width="412" height="581" class="gallery__images" src="./images/modal/foto1.jpg" alt="news1">
              </div>
              <div class="swiper-slide">
                <img width="412" height="581" class="gallery__images" src="./images/modal/foto2.jpg" alt="news2">
              </div>
            </div>
          </div>
    </div>
</div>
