<div class="about">
    <div class="container">
        <section class="section">
            <h2 id="about" class="title">Про <span>нас</span></h2>
            <div class="about">
                <div class="about__paragraph-optica">
                    <ul class="about__items-optica">
                        <li>
                            <img class="about__img-optica" width="380" src="./images/about/optica.jpg" alt="оптика фасад">
                        </li>
                        <li>
                            <img class="about__img-optica" width="380" src="./images/about/optica-2.jpg" alt="оптика вивіска">
                        </li>
                        <li>
                            <img class="about__img-optica" width="380" src="./images/about/optica-3.jpg" alt="оптика вхід">
                        </li>
                    </ul>
                    <p class="about__paragraph">
                        Ласкаво просимо до нашої оптики! Ми раді 
                        вітати вас на нашому сайті та дякуємо за ваш 
                        інтерес до нашої компанії.
                        Наш пріоритет — ваше здоров'я та комфорт.
                    </p>
                </div>
                
                <div class="about__paragraph-doctor">
                    <div class="about__items-doctor">
                        <img 
                        srcset="
                            ./images/about/doctor-2x.jpg 2x,
                            ./images/about/doctor-3x.jpg 3x,
                            ./images/about/doctor-4x.jpg 4x
                        "
                        class="about__img-doctor" 
                        width="280" 
                        src="./images//about/doctor.jpg" 
                        alt="Наш офтальмолог">
                    </div>
                    <p class="about__paragraph">
                        У нашій оптиці веде прийом лікар Антоневич
                        Ліля Іванівна — висококваліфікований 
                        спеціаліст з багаторічним досвідом роботи.
                        Ліля Іванівна відома своїм професійним 
                        підходом, уважністю до кожного пацієнта та 
                        прагненням забезпечити найкращі результати 
                        в діагностиці та лікуванні зорових проблем.
                    </p>
                </div>
                    
                <p class="about__paragraph">
                    Запрошуємо вас на консультацію до лікаря 
                    Антоневич Лілі Іванівни для отримання 
                    якісних медичних послуг та рекомендацій щодо
                    корекції зору. Наш лікар допоможе вам 
                    підібрати найкращі окуляри або контактні 
                    лінзи, а також надасть всі необхідні 
                    рекомендації для підтримки здоров'я очей.
                </p>
            </div>
        </section>
    </div>
</div>
