<section class="about container section">
    <h2 id="about" class="title animate-list-left">Про нас</h2>
        <div class="about__paragraph-optica">
            <ul class="about__items-optica">
                <li class="about__item-optica">
                    <img 
                    srcset="
                        ./images/about/optics-2x.jpg 2x,
                        ./images/about/optics-3x.jpg 3x,
                        ./images/about/optics-4x.jpg 4x
                    "
                    class="about__img-optica" 
                    width="360"
                    height="267" 
                    src="./images/about/optics-1x.jpg" 
                    alt="оптика фасад">
                </li>
                <li class="about__item-optica">
                    <img 
                    srcset="
                        ./images/about/optics-logo-2x.jpg 2x,
                        ./images/about/optics-logo-3x.jpg 3x,
                        ./images/about/optics-logo-4x.jpg 4x
                    "
                    class="about__img-optica" 
                    width="360"
                    height="267" 
                    src="./images/about/optics-logo-1x.jpg" 
                    alt="оптика вивіска">
                </li>
                <li class="about__item-optica">
                    <a class="footer__address-link" href="https://maps.app.goo.gl/fCpPjG5Xexu3PWMk8" rel="noreferrer noopener" target="_blank">
                        <img 
                    srcset="
                        ./images/about/map-2x.jpg 2x,
                        ./images/about/map-3x.jpg 3x,
                        ./images/about/map-4x.jpg 4x
                    "
                    class="about__img-optica" 
                    width="360"
                    height="267" 
                    src="./images/about/map-1x.jpg" 
                    alt="оптика вхід">
                    </a>
                </li>
            </ul>
        </div>
        <div class="about__paragraph-founder">
            <p class="about__paragraph">
                Радо вітаємо Вас на нашому сайті! Дякуємо за 
                інтерес та довіру до команди салону-магазину "Оптика", що знаходиться в самому центрі міста
                Наш пріоритет — ваше здоров'я та комфорт.
                Ми - перша в Косівському районі Оптика, яку було відкрито в 2006 році 8 червня  
                Андрієм Тарасевичем, який мав бачення та прагнення допомогти місцевому населенню.
                З роками, Тараскін поступово розширював свою справу, постійно вдосконалюючи власні
                навички з виготовлення окулярів, впроваджував новітні технології та сучасні методи
                обслуговування клієнтів. 
                Завдяки його наполегливій праці та відданості, салон-магазин “Оптика” став відомим
                серед місцевих жителів за високу якість обслуговування та широкий вибір оптичної 
                продукції. 
                А відданість справі та уважне ставлення до кожного клієнта зробили Андрія відомим 
                та шанованим майстром у регіоні.
        
                Ми дбайливо продовжуємо справу засновника й забезпечуємо кожного клієнта 
                ідеально підібраними окулярами, що відповідають Вашим індивідуальним потребам!
            </p>
            <ul class="about__items-founder">
                <li class="about__founder-item">
                    <img 
                    class="about__founder-img"
                    srcset="
                        ./images/about/founder-1-2x.jpg 2x,
                        ./images/about/founder-1-3x.jpg 3x,
                        ./images/about/founder-1-4x.jpg 4x
                    " 
                    width="380" 
                    src="./images/about/founder-1-1x.jpg" 
                    alt="оптика фасад">
                </li>
                <li class="about__founder-item">
                    <img 
                    class="about__founder-img"
                    srcset="
                        ./images/about/founder-2-2x.jpg 2x,
                        ./images/about/founder-2-3x.jpg 3x,
                        ./images/about/founder-2-4x.jpg 4x
                    " 
                    width="320" 
                    src="./images/about/founder-2-1x.jpg" 
                    alt="оптика вивіска">
                </li>
                <li class="about__founder-item">
                    <img 
                    class="about__founder-img"
                    srcset="
                        ./images/about/founder-3-2x.jpg 2x,
                        ./images/about/founder-3-3x.jpg 3x,
                        ./images/about/founder-3-4x.jpg 4x
                    " 
                    width="380" 
                    src="./images/about/founder-3-1x.jpg" 
                    alt="оптика вхід">
                </li>
            </ul>
        </div>
</section>