<div class="container">
    <h2 id="about" class="title">Про нас</h2>
    <p>У нашій оптиці веде прийом лікар Антоневич Ліля Іванівна — висококваліфікований спеціаліст з багаторічним досвідом роботи. Ліля Іванівна відома своїм професійним підходом, уважністю до кожного пацієнта та прагненням забезпечити найкращі результати в діагностиці та лікуванні зорових проблем.</p>
    <p>Запрошуємо вас на консультацію до лікаря Антоневич Лілі Іванівни для отримання якісних медичних послуг та рекомендацій щодо корекції зору. Наш лікар допоможе вам підібрати найкращі окуляри або контактні лінзи, а також надасть всі необхідні рекомендації для підтримки здоров'я очей.</p>
</div>