<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo-wrapper">
                <a class="logo" href="./index.html" aria-label="Footer logo">Оптика <span>Косів</span></a>
            </div>
            <div>
                <nav class="footer__navigation">
                    <ul class="footer__navigation-list">
                        <li class="footer__navigation-items">
                            <a class="footer__navigation-link" href="#">Наші послуги</a>
                        </li>
                        <li class="footer__navigation-items">
                            <a class="footer__navigation-link" href="#">Про нас</a>
                        </li>
                        <li class="footer__navigation-items">
                            <a class="footer__navigation-link" href="#">Контакти</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div>
                <address class="footer__address">
                    <ul class="footer__address-list">
                        <li class="fotter__address-item">
                            <a class="footer__address-link" href="tel:+38097-123-11-11">
                                <svg width="22" height="22">
                                    <use href="./images/icons.svg#icon-tel"></use>
                                </svg>
                                +38097-123-11-11
                            </a>
                        </li>
                        <li class="fotter__address-item">
                            <a class="footer__address-link" href="mailto:WondersOfUkraine@gmail.com">
                                <svg width="22" height="22">
                                    <use href="./images/icons.svg#icon-letter"></use>
                                </svg>
                                WondersOfUkraine@gmail.com
                            </a>
                        </li>
                        <li class="fotter__address-item">
                            <a class="footer__address-link" href="https://maps.app.goo.gl/QFNsXih8Q1YtZjgy6" rel="noreferrer noopener" target="_blank">
                                <svg width="22" height="22">
                                    <use href="./images/icons.svg#icon-tel"></use>
                                </svg>
                                Lviv, Zaporyzhka, 198
                            </a>
                        </li>
                    </ul>
                </address>
                <ul class="footer__soc-list list">
                    <li class="footer__soc-item">
                        <a href="https://www.instagram.com/" rel="noreferrer noopener" target="_blank" aria-label="Instagram link">
                            <svg>
                                <use href="./images/icons.svg#icon-letter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__soc-item">
                        <a href="https://www.facebook.com/" rel="noreferrer noopener" target="_blank" aria-label="Facebook link">
                            <svg>
                                <use href="./images/icons.svg#icon-letter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__soc-item">
                        <a href="https://web.telegram.org/" rel="noreferrer noopener" target="_blank" aria-label="Telegram link"></a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="footer__rights">&copy; All Rights Reserved</p>
    </div>
</footer>