<div class="footer" id="contacts">
    <div class="container">
        <div class="footer__wrapper">
            <div>   
                <div class="footer__logo-wrapper">
                    <a class="logo footer-logo" href="./index.html" aria-label="Footer logo">
                        <img width="100" height="100" src="./images/logo.png" alt="logo">
                    </a>
                </div> 
                <div class="footer__address-wrapper">
                    <address class="footer__address">
                        <ul class="footer__address-list">
                            <li class="fotter__address-item">
                                <a class="footer__address-link" href="mailto:taraskin.optuka@gmail.com">
                                    <svg class="footer__svg address__svg" width="22" height="22">
                                        <use href="./images/icons.svg#icon-mail"></use>
                                    </svg>
                                    taraskin.optuka@gmail.com
                                </a>
                            </li>
                            <li class="fotter__address-item">
                                <a class="footer__address-link" href="https://maps.app.goo.gl/fCpPjG5Xexu3PWMk8" rel="noreferrer noopener" target="_blank">
                                    <svg class="footer__svg address__svg" width="22" height="22">
                                        <use href="./images/icons.svg#icon-location2"></use>
                                    </svg>
                                    Косів, Незалежності, 43
                                </a>
                            </li>
                            <li class="fotter__address-item">
                                <a class="footer__address-link" href="tel:+38097-126-52-58">
                                    <svg class="footer__svg address__svg" width="22" height="22">
                                        <use href="./images/icons.svg#icon-phone"></use>
                                    </svg>
                                    +38097-126-52-58
                                </a>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
            <div class="footer__navigation-wrapper">
                <nav class="footer__navigation">
                    <ul class="footer__navigation-list">
                        <li class="footer__navigation-items">
                            <a class="footer__navigation-link" href="#services">Наші послуги</a>
                        </li>
                        <li class="footer__navigation-items">
                            <a class="footer__navigation-link" href="#about">Про нас</a>
                        </li>
                        <li class="footer__navigation-items">
                            <a class="footer__navigation-link" href="#contacts">Контакти</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <ul class="footer__soc-list">
                <li class="footer__soc-item">
                    <a class="footer__soc-link" href="https://www.facebook.com/profile.php?id=61557629715751" target="_blank" aria-label="Facebook link">
                        <svg class="footer__svg" width="22" height="22">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__soc-item">
                    <a class="footer__soc-link" href="https://www.instagram.com/kosiv.optika?igsh=MWI3ZWJydXFwejl5Mw==" rel="noreferrer noopener" target="_blank" aria-label="Instagram link">
                        <svg class="footer__svg" width="22" height="22">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer__soc-item">
                    <a class="footer__soc-link" href="viber://chat?number=+38097-126-52-58" rel="noreferrer noopener" target="_blank" aria-label="Viber link">
                        <svg class="footer__svg" width="22" height="22">
                            <use href="./images/icons.svg#icon-viber-icon"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="footer__rights">&copy;2023 Оптика Косів. All Rights Reserved</p>
</div>