<div class="header container"> 

    <div>
        <a class="logo" href="./index.html">Оптика <span class="accent-logo">Косів</span></a>
    </div>

    <nav class="header__navigation">
        <div>
            <ul class="header__navigation-list">
                <li class="header__navigation-item">
                    <a href="#services">Наші послуги</a>
                </li>
                <li class="header__navigation-item">
                    <a href="#about">Про нас</a>
                </li>
                <li class="header__navigation-item">
                    <a href="#contacts">Контакти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="header__social">
        <ul class="header__social-items">
            <li class="header__social-item">
                <a class="header__social-link" href="https://www.facebook.com/profile.php?id=61557629715751" target="_blank" aria-label="Facebook link">
                    <svg class="header__svg" width="28" height="28">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="header__social-item">
                <a class="header__social-link" href="#">
                    <svg class="header__svg" width="28" height="28">
                        <use href="./images/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header__social-item">
                <a class="header__social-link" href="#">
                    <svg class="header__svg" width="28" height="28">
                        <use href="./images/icons.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</div>