<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__title">З турботою про ваш зір</h1>
            <p class="hero__paragraph">
                Індивідуальний підхід та найкращі рішення для вашого зору
            </p>
        </div>
        <a class="button" href="tel:+38097-126-52-58">
            Подзвонити 
            <svg class="hero__svg">
                <use width="22" height="22" href="./images/icons.svg#icon-phone"></use>
            </svg>
        </a>
    </div>
</section>