    <div class="ophthalmologist">
        <div class="container">
            <section class="section">
                <h2 class="ophthalmologist__title title">Прийом у лікаря-офтальмолога</h2>
                <div class="ophthalmologist__paragraph">
                    <div class="ophthalmologist__items">
                        <img 
                        srcset="
                            ./images/about/doctor-2x.jpg 2x,
                            ./images/about/doctor-3x.jpg 3x,
                            ./images/about/doctor-4x.jpg 4x
                        "
                        class="ophthalmologist__img" 
                        width="280" 
                        src="./images//about/doctor.jpg" 
                        alt="Наш офтальмолог">
                    </div>
                    <div>
                        <p class="ophthalmologist__description">
                            У нашій оптиці веде прийом лікар Антоневич
                            Ліля Іванівна — висококваліфікований 
                            спеціаліст з багаторічним досвідом роботи.
                            Ліля Іванівна відома своїм професійним 
                            підходом, уважністю до кожного пацієнта та 
                            прагненням забезпечити найкращі результати 
                            в діагностиці та лікуванні зорових проблем.
                        </p>
                        <p class="ophthalmologist__description">
                            Ліля Іванівна веде прийом щочетверга о 16:00. 
                            Під час консультації ви зможете отримати професійний
                            огляд, діагностику зору та рекомендації щодо 
                            подальшого лікування.
                        </p>
                    </div>
                </div>
                <p class="ophthalmologist__description ophthalmologist__description-last">
                    З турботою про Ваш зір!
                </p>
            </section>
        </div>
    </div>