    <div class="ophthalmologist">
        <div class="container">
            <section class="section">
                <h2 class="ophthalmologist__title title animate-list-left">Запрошуємо на прийом до лікаря-офтальмолога</h2>
                <div class="ophthalmologist__paragraph">
                    <div class="ophthalmologist__items">
                        <img 
                        srcset="
                            ./images/about/doctor-2x.jpg 2x,
                            ./images/about/doctor-3x.jpg 3x,
                            ./images/about/doctor-4x.jpg 4x
                        "
                        class="ophthalmologist__img" 
                        width="280" 
                        src="./images//about/doctor.jpg" 
                        alt="Наш офтальмолог">
                    </div>
                    <div>
                        <p class="ophthalmologist__description">
                            У нашій центральній Оптиці веде прийом <strong>Антоневич
                            Ліля Іванівна — лікар-офтальмолог ВИЩОЇ категорії з 30-річним стажем роботи.</strong>
                            
                            Ліля Іванівна відома своїм професійним 
                            підходом, уважністю до кожного пацієнта та 
                            прагненням забезпечити найкращі результати 
                            в діагностиці та лікуванні зорових проблем. 
                        </p>
                        <p class="ophthalmologist__description">
                            Лікар приймає щочетверга о 16:00. Вартість 150грн. 
                            У вартість консультації фходить: 
                            - професійний
                            огляд лікаря-офтальмолога
                            - компютерна діагносика зору
                            - підбір рецептури для окулярами
                            -  рекомендації щодо 
                            подальшого лікування
                            Гарантуємо професійність та дбайливе ставлення.
                        </p>
                    </div>
                </div>
                <p class="ophthalmologist__description ophthalmologist__description-last">
                    З турботою про Ваш зір!
                </p>
            </section>
        </div>
    </div>