<section class="services section">
    <div class="container">
        <h2 class="title" id="services">Наші послуги</h2>
        <ul class="services__list">
            <li class="services__item">
                <img width="330" class="services__img" src="./images/servisec/eyeglass-making.jpg" alt="make glasses">
                <h3 class="services__title">Виготовлення окуляр</h3>
            </li>
            <li class="services__item">
                <img width="330" class="services__img" src="./images/servisec/eyeglass_repair.jpg" alt="repare glasses">
                <h3 class="services__title">Ремонт окуляр</h3>
            </li>
            <li class="services__item">
                <img width="330" class="services__img" src="./images/servisec/sun-glasses.jpg" alt="sun glasses">
                <h3 class="services__title">Сонячні окуляри</h3>
            </li>
            <li class="services__item">
                <img width="330" class="services__img" src="./images/servisec/contact-lenses.jpg" alt="contact linses">
                <h3 class="services__title">Контактні лінзи</h3>
            </li>
            <li class="services__item">
                <img width="330" class="services__img" src="./images/servisec/doctor.jpg" alt="doctor">
                <h3 class="services__title">Огляд офтальмолога</h3>
            </li>
            <li class="services__item">
                <img width="330" class="services__img" src="./images/servisec/doctor.jpg" alt="doctor">
                <h3 class="services__title">Огляд офтальмолога</h3>
            </li>
        </ul>
    </div>
</section>