<section class="services section">
    <div class="container">
        <h2 class="title animate-list-left" id="services">Наші послуги</h2>
        <ul class="services__list">
            <li class="services__item animate-list-left">
                <img srcset="
                    ./images/servisec/make-glasses-2x.jpg 2x,
                    ./images/servisec/make-glasses-3x.jpg 3x,
                    ./images/servisec/make-glasses-4x.jpg 4x
                " 
                width="330"
                class="services__img"
                src="./images/servisec/make-glasses-1x.jpg" 
                alt="make glasses">
                <h3 class="services__title">Виготовлення окуляр</h3>
            </li>
            <li class="services__item animate-list-right">
                <img srcset="
                    ./images/servisec/repare-glasses-2x.jpg 2x,
                    ./images/servisec/repare-glasses-3x.jpg 3x,
                    ./images/servisec/repare-glasses-4x.jpg 4x
                " 
                width="330" 
                class="services__img" 
                src="./images/servisec/repare-glasses-1x.jpg" 
                alt="repare glasses">
                <h3 class="services__title">Ремонт окуляр</h3>
            </li>
            <li class="services__item animate-list-left">
                <img 
                srcset="
                    ./images/servisec/sun-glasses-2x.jpg 2x,
                    ./images/servisec/sun-glasses-3x.jpg 3x,
                    ./images/servisec/sun-glasses-4x.jpg 4x
                "
                width="330" 
                class="services__img" 
                src="./images/servisec/sun-glasses-1x.jpg" 
                alt="sun glasses">
                <h3 class="services__title">Сонячні окуляри</h3>
            </li>
            <li class="services__item animate-list-right">
                <img 
                srcset="
                    ./images/servisec/linses-2x.jpg 2x,
                    ./images/servisec/linses-3x.jpg 3x,
                    ./images/servisec/linses-4x.jpg 4x
                "
                width="330" 
                class="services__img" 
                src="./images/servisec/linses-1x.jpg" 
                alt="contact linses">
                <h3 class="services__title">Контактні лінзи</h3>
            </li>
            <li class="services__item animate-list-left">
                <img 
                srcset="
                    ./images/servisec/accessory-2x.jpg 2x,
                    ./images/servisec/accessory-3x.jpg 3x,
                    ./images/servisec/accessory-4x.jpg 4x
                "
                width="330" 
                class="services__img" 
                src="./images/servisec/accessory-1x.jpg" 
                alt="doctor">
                <h3 class="services__title">Аксесуари</h3>
            </li>
            <li class="services__item animate-list-right">
                <img 
                srcset="
                    ./images/servisec/doctor-2x.jpg 2x,
                    ./images/servisec/doctor-3x.jpg 3x,
                    ./images/servisec/doctor-4x.jpg 4x
                "
                width="330" 
                class="services__img" 
                src="./images/servisec/doctor-1x.jpg" 
                alt="doctor">
                <h3 class="services__title">Огляд офтальмолога</h3>
            </li>
        </ul>
    </div>
</section>