<section class="services section">
    <div class="container">
        <h2 class="title" id="services">Наші послуги</h2>
        <ul class="services__list">
            <li class="services__item">
                <img class="services__img" src="./images/servisec/eyeglass-making.jpg" alt="виготовлення окуляр">
                <h3 class="services__title">Виготовлення окуляр</h3>
            </li>
            <li class="services__item">
                <img class="services__img" src="./images/servisec/eyeglass_repair.jpg" alt="ремонт окуляр">
                <h3 class="services__title">Ремонт окуляр</h3>
            </li>
            <li class="services__item">
                <img class="services__img" src="./images/servisec/sun-glasses.jpg" alt="сонячні окуляри">
                <h3 class="services__title">Сонячні окуляри</h3>
            </li>
            <li class="services__item">
                <img class="services__img" src="./images/servisec/contact-lenses.jpg" alt="контактні лінзи">
                <h3 class="services__title">Контактні лінзи</h3>
            </li>
            <li class="services__item">
                <img class="services__img" src="./images/servisec/doctor.jpg" alt="огляд лікаря">
                <h3 class="services__title">Огляд офтальмолога</h3>
            </li>
        </ul>
    </div>
</section>