.go-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: none;
    border: solid 4px var(--accent-color);
    transition: 500ms var(--cubic);
}

.go-to-top > svg {
    fill: var(--accent-color);
    transition: fill 500ms var(--cubic);
}

.go-top--show {
    display: block;
}

.go-to-top:hover {
    box-shadow: var(--accent-shadow);
    transition: 500ms var(--cubic);
    border: solid 4px var(--accent-color);
}

.go-to-top:hover > svg {
    fill: var(--accent-color);
}