.go-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: none;
    border: solid 4px var(--accent-color);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.go-to-top > svg {
    fill: var(--accent-color);
}

.go-top--show {
    display: block;
}

.go-to-top:hover {
    box-shadow: -1px -1px 49px 3px rgba(77,194,116,0.75);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}