.logo {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey);
    width: 130px;
    height: 130px;
    border-radius: 50%;
    color: var(--primary-color);
    transition: 500ms var(--cubic);  
}

.logo:hover {
    transform: scale(1.1);
    transition: 500ms var(--cubic);
    box-shadow: var(--accent-shadow);  
}

.logo > span {
    color: var(--accent-color-dark);
}
