.logo {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
    background-color: var(--color-grey);
    width: 200px;
    border-radius: 50px;
    color: var(--primary-color);
}

.logo > span {
    color: var(--accent-color);
}
