.mobile-menu {
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width:768px) {
   .mobile-menu {
    display: none;
   }
}

.mobile-menu > svg {
    display: block;
    height: 40px;
    width: 40px;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #3f51b5;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

.header__mobile-list {
    margin-top: 60px;
    text-align: center;
}

.header__mobile-list li:not(:last-child) {
    margin-bottom: 40px;
}

.header__mobile-list a {
    color:var(--color-white);
    font-size: 20px;
    font-weight: 800;
}

.header__mobile-list a:hover {
    color: var(--accent-color);
}


.menu-container.is-open {
    transform: translateX(0);
}