.social-item {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: solid currentColor 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--time) var(--cubic);
    
    &:hover {
        box-shadow: var(--accent-shadow);
        border: var(--accent-color) solid 2px;
        fill: var(--accent-color);
        transition: var(--time) var(--cubic); 
    }

    &:hover .social-item__svg {
        transition: var(--time) var(--cubic); 
        fill: var(--accent-color);
    }
}

.social-item__svg {
    display: flex;
    transition: var(--time) var(--cubic); 
    fill: currentColor;
}