.about__items-optica,
.about__items-founder {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.about__item-optica {
    > img{
        border-radius: 100px 0 100px 0;
    }

    a > img {
        border-radius: 100px 0 100px 0;
    }
}


.about__items-optica {
    margin-bottom: 40px;
}

.about__items-founder {
    margin-top: 40px;
}

.about__paragraph {
    font-size: 16px;
    text-align:start;
}

@media (min-width: 768px) and (max-width:1199px) {
    .about__items-optica,
    .about__items-founder {
        grid-template-columns: repeat(auto-fit, 360px);
    }
}

@media (min-width: 768px)  {
    .about__paragraph {
        font-size: 24px;
        text-align:justify;
    }
    
    .about__items-founder {
        grid-template-areas: 
        "f s"
        "f s"
        "t s";
    }

    .first {
      grid-area: f;  
    }

    .second {
        grid-area: s;
    }

    .thirt {
        grid-area: t;
    }
}

@media (min-width:1200px) {
    .about__items-optica {
        grid-template-columns: repeat(auto-fit, 380px);
    }

    .about__items-founder {
        grid-template-columns: repeat(auto-fit, 1fr 1fr);
    }

    .second {
        align-self: center;
    }
}