.footer {
    padding-top: 60px;
}

.footer__wrapper {
    margin-bottom: 60px;
}

.footer__soc-wrapper {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer__soc-list {
    display: flex;
    margin-bottom: 10px;

    & li:not(:last-child) {
        margin-right: 14px;
    }
}

.footer__soc-item {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border: solid currentColor 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms var(--cubic);

    &:hover {
        box-shadow: var(--accent-shadow);
        border: var(--accent-color) solid 2px;
        fill: var(--accent-color);
        transition: 500ms var(--cubic); 
    }

    &:hover .footer__svg {
        fill:var(--accent-color);
    }
}

.footer__soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms var(--cubic);
}

.footer__svg {
    transition: 500ms var(--cubic);
    fill: currentColor;
}

.footer__address-wrapper {
    margin-top: 40px;
}


.footer__navigation-link {
    padding: 14px;
    transition: 500ms var(--cubic);

    &:hover {
        color: var(--accent-color);
        transition: 500ms var(--cubic);
    }
}

.footer__address-link {
    transition: 500ms var(--cubic);

    &:hover {
        color: var(--accent-color);
        transition: 500ms var(--cubic);
    }

    &:hover svg  {
        fill: var(--accent-color);
        transition: 500ms var(--cubic);
    }
}

.address__svg {
    margin-right: 15px;
}

.footer__address-list li:not(:last-child) {
    margin-bottom: 20px;
}

.footer__rights {
    border-top: solid var(--accent-color) 1px;
    padding: 40px 0;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__logo-wrapper {
       display: flex;
       justify-content: center;
    }

    .footer__navigation-list li:not(:last-child) {
        margin-bottom: 20px;
    }

    .footer__address-wrapper {
        margin-bottom: 50px;
    }

    .footer__navigation-wrapper {
        margin-bottom: 50px;
    }

    .footer__address, .footer__navigation {
        text-align: center;
    }

    .fotter__address-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:320px) {
    .footer__address-link {
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__navigation-list li:not(:last-child) {
        margin-bottom: 60px;
    }

    .footer__navigation-link,
    .footer__address-link {
        font-weight: 600;
    }
}

@media screen and (min-width:1024px) {
    .footer__wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .footer__address-wrapper {
        margin-top: 0;
        margin-left: 100px;
    }

    .footer__navigation {
        text-align: center;
    }

    .footer__navigation-list li:not(:last-child) {
        margin-bottom: 20px;
    }
}