.ophthalmologist__paragraph {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: center;
    text-align: justify;
}

.ophthalmologist__description {
    font-size: 24px;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .ophthalmologist__paragraph {
        flex-direction: column;
    }

    .ophthalmologist__items {
        margin-bottom: 40px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .ophthalmologist__items {
       margin-bottom: auto;
    }

}

@media screen and (min-width:768px) {
    .ophthalmologist__paragraph {
        flex-direction: row;    
    }

    .ophthalmologist__items {
        margin-right: 40px;
    }

    .ophthalmologist__description {
        text-align: start;
    }
}

.ophthalmologist__description-last {
    text-align: center;
    font-family: var(--title-font);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 40px;
}

.ophthalmologist__list {
    margin: 10px 0;
}

.ophthalmologist__list li:not(:last-child) {
    margin-bottom: 10px;
}

.paragraph-space {
    margin-bottom: 10px;
}


.ophthalmologist__img {
    object-fit: cover;
    display: block;
    border-radius: 10px;

    @media screen and (min-width:320px) and (max-width:375px) {
        width: 280px;
    }
        
    @media screen and (min-width:375px) and (max-width:480px) {
        width: 345px;
    }
        
    @media screen and (min-width:480px) and (max-width:767px) {
        width: 450px;
    }

    @media screen and (min-width:320px) and (max-width:767px) {
        height: auto;
    }

    @media screen and (min-width:768px) and (max-width:1023px) {
        width: 220px;
    }

    @media screen and (min-width:1024px) and (max-width:1200px) {
       width: 360px;
    }

    @media screen and (min-width:1200px) {
        width: 350px;
    }
}